#### NEXTCLOUD DB ####
DB_PASSWORD=pwd
DB_DATABASE=db
DB_USER=usr
PLEX_CLAIM=claim-xxxx
MY_EMAIL=votre-adresse-courriel
MY_DOMAIN=votre-domaine-duck-dns-.duckdns.org
DUCKDNS_TOKEN=le-token-de-votre-compte-duckDNS